{% extends 'base.html' %}

{% block content %}
<h2 class="subtitle is-2">Registrar Propietario</h2>
<form method="post">
    <div class="field">
        <label for="nombre">Nombre:</label>
        <div class="control">
            <input type="text" id="nombre" name="nombre" required class="input">
        </div>
    </div>
    <div class="field">
        <label for="paterno">Apellido Paterno:</label>
        <div class="control">
            <input type="text" id="paterno" name="paterno" required class="input">
        </div>
    </div>
    <div class="field">
        <label for="materno">Apellido materno:</label>
        <div class="control">
            <input type="text" id="materno" name="materno" required class="input">
        </div>
    </div>
    <div class="field">
        <label for="ci">CI:</label>
        <div class="control">
            <input type="text" id="ci" name="ci" required class="input">
        </div>
    </div>
    
    <input type="submit" value="Registrar" class="button is-primary">
</form>
{% endblock %}
